// color
$black:#333;
$gray:#f5f5f5;
$white:#fff;

$green: #31d532;
$red:#ff3333;

$blue01:#EBF4F6;
$blue02:#37B7C3;
$blue03:#088395;
$blue04:#071952;



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


// mixin
@mixin hidden() {
    overflow: hidden;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    display: inline-block;
    position:absolute;
}

@mixin font($size, $weight, $color, $line){
    font-size:$size;
    font-weight:$weight;
    color:$color;
    line-height:$line;
    letter-spacing:-1px;
    @content;
}

@mixin flex-row($align:center, $justify: center, $wrap:nowrap) {
    display:flex;
    flex-direction:row;
    flex-wrap:$wrap;

    @if ($align == start) {
        align-items:flex-start;
    } @else if ($align == start) {
        align-items:flex-end;
    } @else if ($align == stretch) {
        align-items:stretch;
    } @else {
        align-items:center;
    }

    @if ($justify == between) {
        justify-content:space-between;
    } @else if ($justify == start) {
        justify-content:flex-start;
    } @else if ($justify == end) {
        justify-content:flex-end;
    } @else if ($justify == center) {
        justify-content:center;
    }

    @content;
}

@mixin flex-column($align:center, $justify: center, $wrap:nowrap) {
    display:flex;
    flex-direction:column;
    flex-wrap:$wrap;

    @if ($align == start) {
        align-items:flex-start;
    } @else if ($align == start) {
        align-items:flex-end;
    } @else {
        align-items:center;
    }

    @if ($justify == between) {
        justify-content:space-between;
    } @else if ($justify == start) {
        justify-content:flex-start;
    } @else if ($justify == end) {
        justify-content:flex-end;
    } @else if ($justify == center) {
        justify-content:center;
    }

    @content;
}

@mixin ellipsis($lines: 1) {
    @if ($lines == 1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        overflow:hidden;
        text-overflow:ellipsis;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
    }
}

@mixin btn($bg, $color, $width, $height){
    width:$width;
    height:$height;
    background:$bg;
    color:$color;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    font-size:14px;
    line-height:22px;
    font-weight:400;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

@mixin animate($animation, $duration, $method, $times){
    animation: $animation $duration $method $times;
}

@mixin desktop{
    @media (min-width:$breakpoint-desktop){
        @content;
    }
}
@mixin tablet{
    @media (min-width:$breakpoint-tablet) and (max-width:$breakpoint-desktop){
        @content;
    }
}
@mixin mobile{
    @media (min-width:$breakpoint-mobile) and (max-width:$breakpoint-tablet){
        @content;
    }
}




body{
    background:$black;
    font-family:'Pretendard-Regular';
}
input, button, p{
    border:0;
    background:none;
    padding:0;
    margin:0;
}
button, a, input{
    cursor:pointer;
}

input{
    &[type=text]{
        height:40px;
        border:1px solid $gray;
        border-radius:4px;
        padding:4px 8px;
        box-sizing:border-box;
    }
    &[type=number]{
        height:40px;
        border:1px solid $gray;
        border-radius:4px;
        padding:4px 8px;
        box-sizing:border-box;
    }
}
select{
    width:100%;
    height:40px;
    border:1px solid $gray;
    border-radius:4px;
    padding:4px 8px;
    box-sizing:border-box;
    @include font(0.875rem, 400, $black, 1.5);
}

label{
    & + input{
        margin-top:4px;
    }
    & + select{
        margin-top:4px;
    }
}






.hidden{
    position:absolute;
    top:0;
    left:0;
    width:1px;
    height:1px;
    margin:-1px;
    clip-path: inset(0 0 0 0);
}
.button_wrap{
    margin-top:16px;
    @include flex-row(center, center);
    height:40px;
    background:$black;
    .button{
        display:block;
        width:100%;
        height:100%;
        span{
            @include font(0.875rem, 700, $white, 1.5);
        }
    }
}






.main{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
.container{
    width:375px;
    height:auto;
    background:$white;
    border-radius:16px;
    box-sizing:border-box;
    position:relative;
    overflow:hidden;
}

.swiper {
    width: 100%;
    height: 100%;
    padding:0 20px;
    box-sizing:border-box;
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.pocket{
    &_date{
        width:100%;
        .date{
            display:block;
            width:100%;
            border-radius:50%;
            background:$gray;
            padding:8px 4px;
            box-sizing:border-box;
            @include font(1rem, 700, $black, 1);
            &.on{
                background:$blue02;
                @include font(1rem, 700, $white, 1);
            }
        }
        .week{
            display:block;
            margin-top:4px;
            font-size:0.6rem;
        }
    }
    &_summary{
        padding:20px;
        box-sizing:border-box;
        background:$blue03;
        margin-bottom:20px;
    }
    &_month{
        @include flex-row(center, start);
        .current_month{
            @include font(1rem, 700, $white, 1);
        }
    }
    &_account{
        margin:20px 0;
        @include font(1.5rem, 700, $white, 1);
    }
    &_report{
        background:$white;
        border-radius:8px;
        box-sizing:border-box;
        span{
            @include font(1.5rem, 700, $black, 1);
        }
        .expenses{
            padding:20px;
            border-bottom:1px solid $gray;
            @include flex-row(center, between);
            @include font(0.875rem, 700, $black, 1);
        }
        .income{
            padding:20px;
            @include flex-row(center, between);
            @include font(0.875rem, 700, $black, 1);
        }
    }
    &_list{
        background:$gray;
        padding:20px;
        margin-top:20px;
    }
    &_item{
        @include flex-row(center, between);
        width:100%;
        background:$white;
        padding:16px;
        border-radius:8px;
        & + .pocket_item, + .pocket_add{
            margin-top:12px;
        }
        &.expenses{
            position:relative;
            overflow:hidden;
            &::after{
                content:'';
                position:absolute;
                top:0;
                right:0;
                width:3px;
                height:100%;
                background:$red;
            }
            .item_price{
                @include font(1rem, 700, $red, 1.5);
            }
        }
        &.income{
            position:relative;
            overflow:hidden;
            &::after{
                content:'';
                position:absolute;
                top:0;
                right:0;
                width:3px;
                height:100%;
                background:$green;
            }
            .item_price{
                @include font(1rem, 700, $green, 1.5);
            }
        }
        .item_info{
            width:70%;
        }
        .item_name{
            display:block;
            text-align:left;
            @include font(0.875rem, 700, $black, 1.5);
            @include ellipsis(1);
        }
        .item_category{
            display:block;
            margin-top:4px;
            text-align:left;
            @include font(0.75rem, 400, $black, 1.5);
        }
        .item_price{
            width:30%;
            text-align:right;
        }
    }
    &_add{
        width:100%;
        height:75px;
        border:1px dashed $blue02;
        box-sizing:border-box;
        border-radius:8px;
        text-align:center;
        @include flex-row(center, center);
        span{
            display:block;
            width:40px;
            height:40px;
            @include font(1.5rem, 400, $blue02, 40px);
        }
    }
}

.layer_wrap{
    position: absolute;
    width: 80%;
    border-radius:16px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    z-index:10;
    overflow:hidden;
    .layer_type{
        background:$white;
        padding:20px;
    }
    .type_wrap{
        @include flex-row(center, center);
        gap:8px;
    }
    .input_item_name{
        width:100%;
    }
    .input_item_price{
        width:100%;
    }
    label{
        @include font(0.875rem, 700, $black, 1);
    }
}

.dim{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:$black;
    opacity:0.5;
    z-index:2;
    &.open{
        display:block;
    }
}








.input_wrap{
    margin-top:16px;
    & + .input_wrap{
        margin-top:16px;
    }
}

.radio_wrap{
    width:100%;
    position:relative;
    input[type=radio]{
        appearance: none;
        width:100%;
        height:40px;
        position:absolute;
        top:0;
        left:0;
        & + label{
            width:100%;
            height:40px;
            background:$blue01;
            display:block;
            text-align:center;
            @include font(0.875rem, 400, $black, 40px);
        }
        &:checked{
            & + label{
                background:$blue02;
                @include font(0.875rem, 400, $white, 40px);
            }

        }
    }
}

.dropdown_wrap{
    margin-top:16px;
}